<section class="application" id="Leave an application">
    <div class="container">
        <div class="application-title">
            <h2 class="application-title-head">Leave an&nbsp;<span class="green">application</span></h2>
            <p class="application-title-paragraf">Please use the form below to contact us. Enter your name, email, and
                message and we'll get back to you shortly.</p>
        </div>
        <div class="img-form-block">
            <div class="fon-img">  
                <div class="application-img"></div>                       
                <div class="application-fon">
                    <span class="fon-title">1000</span>
                    <p class="fon-paragraf">of our online English language lessons! This journey has been full of discovery, growth and unforgettable moments, and
                    we are happy to share this joyful event with you.</p>
                </div>
            </div>
            <form action="" class="form">
                <div class="form-data">
                    <input type="name" name="name" id="name" placeholder="Name">
                    <label for="name"></label>
                    <input type="email" name="Email" id="email" placeholder="Email">
                    <label for="email"></label>
                    <input type="tel" name="tel" id="tel" placeholder="Phone">
                    <label for="tel"></label>
                    <textarea name="feadback" id="feadback" cols="30" rows="" placeholder="Comment"></textarea>
                    <label for="feadback"></label>
                </div>
                <div class="radio-block">
                    <span>Choose a teacher</span>            
                    <div class="radio-block-list">
                        <div>
                            <input type="radio" name="teacher" id="maria" value="Maria">
                            <label for="maria">Maria</label>
                        </div>
                        <div>
                            <input type="radio" name="teacher" id="artem" value="Artem">
                            <label for="artem">Artem</label>
                        </div>
                       <div>
                        <input type="radio" name="teacher" id="ilona" value="Ilona">
                        <label for="ilona">Ilona</label>
                       </div>
                       <div>
                        <input type="radio" name="teacher" id="volodymyr" value="Volodymyr">
                        <label for="volodymyr">Volodymyr</label>
                       </div>
                    </div>
                </div>
                <button class="submit-button" type="submit">Send</button>
                <p class="button-text">
                    By clicking on “Send” button, you agree to our Privacy Policy,
                    and allow Promodo to use this information for marketing purposes.
                </p>
        
            </form>
        </div>
    </div>


</section>