<footer class="foter" id="footer">
    <div class="container">
        <div class="footer-fon">
            <div class="footer-block">
                <div class="address-logo">
                    <span class="footer-logo">english&nbsp;<span class="header-logo-green">excellence.</span></span>
                    <address class="footer-info">
                        <span>Phone number:</span>
                        <a class="footer-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
                        <span>Address:</span>
                        <span class="footer-address">32a M. Bazhana ave</span>
                    </address>
                </div>
                <div class="footer-nav">
                    <a class="nav-item" href="#aboutUs">About us</a>
                    <a class="nav-item" href="#ourlessons">Our lessons</a>
                    <a class="nav-item" href="#teachers">Teachers</a>
                    <a class="nav-item" href="#Reviews">Reviews</a>
                    <a class="nav-item" href="#footer">Contact us</a>
                </div>
                <div class="footer-social">
                    <a class="footer-social-href" href="https://www.facebook.com/goITclub/ ">
                        <svg class="footer-social-svg">
                            <use href="./img/symbol-defs.svg#facebook"></use>
                        </svg>
                    </a>
                    <a class="footer-social-href" href="https://www.instagram.com/goitclub/ ">
                        <svg class="footer-social-svg">
                            <use href="./img/symbol-defs.svg#instagram"></use>
                        </svg>
                    </a>
                    <a class="footer-social-href" href="https://www.youtube.com/c/GoIT ">
                        <svg class="footer-social-svg">
                            <use href="./img/symbol-defs.svg#youtube"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="basement">
                <span class="basement-one">©2023 English Excellence. All rights reserved.</span>
                <span class="basement-two">Privacy Policy</span>
                <span class="basement-three">Terms of Service</span>
            </div>

        </div>
    </div>
</footer>