<header>
    <div class="container">
        <div class="header">
            <nav class="nav">
                <a class="header-logo">english <span class="header-logo-green">excellence.</span></a>
                <div class="nav-list">
                    <a class="nav-list-href" href="">About us</a>
                    <a class="nav-list-href" href="">Our lessons</a>
                    <a class="nav-list-href" href="">Teachers</a>
                    <a class="nav-list-href" href="">Reviews</a>
                    <a class="nav-list-href" href="">Contact us</a>
                </div>
                <div class="header-social">
                    <a class="header-social-href" href="">
                        <svg class="header-social-svg">
                            <use href="./img/symbol-defs.svg#facebook"></use>
                        </svg>
                    </a>
                    <a class="header-social-href" href="">
                        <svg class="header-social-svg">
                            <use href="./img/symbol-defs.svg#instagram"></use>
                        </svg>
                    </a>
                    <a class="header-social-href" href="">
                        <svg class="header-social-svg">
                            <use href="./img/symbol-defs.svg#youtube"></use>
                        </svg>
                    </a>
                </div>
                <button class="menu">
                    <svg class="menu-svg" width="40" height="40">
                        <use href="./img/symbol-defs.svg#menu"></use>
                    </svg>
                </button>
            </nav>
        </div>
    </div>
</header>