<section class="hero" id="hero">
    <div class="container hero-block">
        <div class="hero-img">
            <h1 class="hero-title">Discover the joy of learning <span class="hero-title-green">English</span>&nbsp;with us!</h1>
            <button class="hero-button-application " type="button" href="#Leave an application">Leave an application</button>
            <button class="hero-button-scrol" type="button" href="#footer">
                <svg class="hero-svg">
                    <use href="./img/symbol-defs.svg#herochek"></use>
                </svg>
            </button>
        </div>
    </div>
</section>