<div class="menu-container js-menu-container" id="mobil-menu">
    <button type="button" class="menu-toggle js-close-menu">
        <svg class="menu-close">
            <use href="../img/symbol-defs.svg#close"></use>
        </svg>
    </button>
    <div class="menu-nav">
        <a class="nav-item" href="#aboutUs">About us</a>
        <a class="nav-item" href="#ourlessons">Our lessons</a>
        <a class="nav-item" href="#teachers">Teachers</a>
        <a class="nav-item" href="">Reviews</a>
        <a class="nav-item" href="#footer">Contact us</a>
    </div>
    <div class="menu-social">
        <a class="menu-social-href" href="https://www.facebook.com/goITclub/ ">
            <svg class="menu-social-svg">
                <use href="./img/symbol-defs.svg#facebook"></use>
            </svg>
        </a>
        <a class="menu-social-href" href="https://www.instagram.com/goitclub/ ">
            <svg class="menu-social-svg">
                <use href="./img/symbol-defs.svg#instagram"></use>
            </svg>
        </a>
        <a class="menu-social-href" href="https://www.youtube.com/c/GoIT ">
            <svg class="menu-social-svg">
                <use href="./img/symbol-defs.svg#youtube"></use>
            </svg>
        </a>
    </div>
</div>