<section class="ourlessons" id="ourlessons">
    <div class="container">
        <div class="lessons-title">
            <h2 class="lessons-title-head ">Our <span class="lessons">lessons</span></h2>
            <p class="lessons-title-paragraf">Our lessons are carefully structured and interactive, designed to promote
                rapid language acquisition through practical
                tasks and real-world scenarios</p>
        </div>
        <ul class="lessons-price">
            <li class="price-block">
                <h3 class="price-block-title">Practice</h3>
                <span class="price-block-money">40$ / month</span>
                <p class="price-block-paragraf">This plan offers an opportunity for learners to engage in collaborative
                    language exercises and group activities,
                    boosting their conversational skills and confidence in using English.</p>
                <button type="button" class="prais-block-button"><a href="#application"> Leave an
                        application</a></button>
            </li>
            <li class="price-block">
                <h3 class="price-block-title">Standard</h3>
                <span class="price-block-money">70$ / month</span>
                <p class="price-block-paragraf">Our standard package provides a balanced learning approach that covers
                    all
                    key areas of English language - reading,
                    writing, listening, and speaking. It is a set of basic knowledge and skills.</p>
                <button type="button" class="prais-block-button"><a href="#application"> Leave an
                        application</a></button>
            </li>
            <li class="price-block">
                <h3 class="price-block-title">Individual</h3>
                <span class="price-block-money">99$ / month</span>
                <p class="price-block-paragraf">We offer a tailored learning experience with individualized instruction
                    that
                    focuses on a learner's specific language
                    goals and challenges, offering personal feedback.</p>
                <button type="button" class="prais-block-button"><a href="#application"> Leave an
                        application</a></button>
            </li>
        </ul>
    </div>
</section>