<section class="students" id="Reviews">
    <div class="container">
        <div class="students-title">
            <h3 class="students-title-head">What our&nbsp;<span class="green">students</span> say</h3>
            <p class="students-title-paragraf">Hear from our students about their learning journey with us, as they
                share their experiences, progress, and the
                transformative impact</p>
        </div>
        <ui class="students-block">
            <li class="students-card">
                <div class="students-card-fon">
                    <span class="students-card-anna"></span>
                    <span class="students-card-name">Anna</span>
                    <span class="students-card-students">Student</span>
                </div>
                <p class="students-card-paragraf">My experience at the language school has been nothing short of
                    amazing. The teachers are dedicated and the learning
                    environment is stimulating. I feel more confident in my English skills.</p>
            </li>
            <li class="students-card card-mykhailo">
                <div class="students-card-fon">
                    <span class="students-card-mykhailo"></span>
                    <span class="students-card-name">Mykhailo</span>
                    <span class="students-card-students">Student</span>
                </div>
                <p class="students-card-paragraf">The school offers a great balance of language theory and practical
                    exercises. The personalized feedback from the
                    teachers has helped me improve my weak areas.</p>
            </li>
            <li class="students-card card-victoria">
                <div class="students-card-fon">
                    <span class="students-card-victoria"></span>
                    <span class="students-card-name">Victoria</span>
                    <span class="students-card-students">Student</span>
                </div>
                <p class="students-card-paragraf">I love the dynamic and interactive teaching methods used here. It's a
                    great place to learn English in a fun and
                    effective way. I have definitely seen a big improvement in my language skills.</p>
            </li>
        </ui>
    </div>
</section>