<section class="teachers">
    <div class="container">
        <div class="teachers-title">
            <h2 class="teachers-title-head">Meet our&nbsp;<span class="green">teachers</span></h2>
            <p class="teachers-title-paragraf">Discover our team of dedicated educators, committed to guiding you on
                your journey to English proficiency with
                personalized and engaging instruction</p>
        </div>
        <ul class="teachers-block">
            <li class="teachers-card">
                <img class="teachers-img" srcset="../img/teacher/maria@2x.jpg 2x" src="../img/teacher/maria.jpg"
                    alt="foto Maria">
                <span class="teachers-name">Maria</span>
                <p class="teachers-info">A seasoned linguist and our primary specialist in beginner-level instruction,
                    Maria brings warmth and patience to every
                    class</p>
            </li>
            <li class="teachers-card">
                <img class="teachers-img" srcset="../img/teacher/artem@2x.jpg 2x" src="../img/teacher/artem.jpg"
                    alt="foto Artem">
                <span class="teachers-name">Artem</span>
                <p class="teachers-info">With his innovative teaching techniques and a focus on interactive learning,
                    Artem excels in keeping students engaged
                    and motivated</p>
            </li>
            <li class="teachers-card">
                <img class="teachers-img" srcset="../img/teacher/ilona@2x.jpg 2x" src="../img/teacher/ilona.jpg"
                    alt="foto Ilona">
                <span class="teachers-name">Ilona</span>
                <p class="teachers-info">A specialist in advanced English, Ilona provides intensive instruction,
                    ensuring students gain confidence in complex
                    language tasks</p>
            </li>
            <li class="teachers-card">
                <img class="teachers-img" sccset="../img/teacher/volodymyr@2x.jpg 2x" src="../img/teacher/volodymyr.jpg"
                    alt="foto Volodymyr">
                <span class="teachers-name">Volodymyr</span>
                <p class="teachers-info">Our expert in English for specific purposes, Volodymyr tailors his approach to
                    meet individual career and
                    industry-specific language needs</p>
            </li>
        </ul>
    </div>
</section>