.foter {
    color: aliceblue;
}

.container {}

.footer-fon {
    background: #121417;
}
.footer-block{
    display: flex;
}

.address-logo {
    margin-left: 128px;
    padding-top: 64px;
}

.footer-logo {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.footer-info {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128, 571;
    letter-spacing: -0.28px;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.footer-tel {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 128.571%;
    margin-bottom: 16px;
}

.footer-address {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 128.571%;
}

.footer-nav {}

.nav-list {}

.footer-social {}

.footer-social-href {}

.footer-social-svg {}

.basement {}

.basement-one {}

.basement-two {}

.basement-three {}