.header {
    position: relative;
    display: flex;


    align-items: center;

    @media screen and (min-width: 1280px) {
        & {
            padding: 20px 128px;
            margin-bottom: 12px;
            display: block;
        }
    }

}

.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin-left: 20px;

    @media screen and (min-width: 1280px) {
        padding: 0;
    }


}

.header-logo {
    font-size: 20px;
    font-weight: 700;

}

.header-logo-green {
    color: #4DC274;
}

.nav-list {
    display: none;
    align-items: center;
    gap: 20px;

    font-size: 14px;
    font-weight: 600;
    line-height: 128.571%;

    @media screen and (min-width: 1280px) {
        & {
            display: flex;
        }
    }

}

.nav-list-href:hover::after {
    content: "";
    display: flex;
    flex-shrink: 0;
    border: 1px solid #4DC274;
    width: 37px;
}

.header-social {
    display: none;
    align-items: flex-start;
    gap: 12px;

    @media screen and (min-width: 1280px) {
        & {
            display: flex;
        }
    }
}

.header-social-href {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(18, 20, 23, 0.10);
    width: 40px;
    height: 40px;

}

.header-social-svg {
    width: 28px;
    height: 28px;


    .header-social-href:hover & {
        fill: #4DC274;
    }
}

.menu {
    position: absolute;
    top: 15px;
    right: 20px;
    min-height: 40px;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    outline: none;

    @media screen and (min-width: 1280px) {
        & {
            display: none;
        }
    }
}

.menu-svg {

    width: 40px;
    height: 28px;


}