.header {
    display: flex;
    width: 1280px;
    padding: 20px 128px;
    align-items: center;
    gap: 16px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}

.header-logo {
    font-size: 20px;
    font-weight: 700;

}

.header-logo-green {
    color: #4DC274;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 14px;
    font-weight: 600;
    line-height: 128.571%;

}

.nav-list-href:hover::after {
    content: "";
    display: flex;
    flex-shrink: 0;
    border: 1px solid #4DC274;
    width: 37px;
}

.header-social {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.header-social-href {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(18, 20, 23, 0.10);
    width: 40px;
    height: 40px;

}

.header-social-svg {
    width: 28px;
    height: 28px;


    .header-social-href:hover & {
        fill: #4DC274;
    }
}

button {}

.menu {
    position: absolute;
    top: 20px;
    right: 46px;
    min-height: 40px;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    outline: none;
}

.menu-svg {
<<<<<<< HEAD
    
=======

>>>>>>> 1ca5844748dc4fe795eae83417ab326604a88def
    width: 40px;
    height: 28px;

   
}