.MasterLanguage {}



.ml-fon {
    position: relative;
    display: inline-flex;
    height: 950px;
    width: 1152px;
    padding: 64px 312px 746px 64px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(85deg, #4DC274 2.25%, #BEE8CC 131.25%);
    margin-bottom: 150px;
    margin:0px 40px 150px 40px;
}

.ml-h {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
    line-height: 116.667%;

}

.ml-h-Language {
    color: #BEE8CC;

}

.ml-fon-rotate-one {
    position: absolute;
    width: 1011px;
    height: 402px;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(70%) rotate(11deg);
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.50);
    z-index: 1;

}

.ml-fon-rotate-two {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 1050px;
    height: 463px;
    transform: rotate(-8deg) translateX(-54%) translateY(55%);
    flex-shrink: 0;
    border-radius: 30px;
    background: #D4FDE1;
    z-index: 3;
}

.ml-fon-rotate-three {
    position: absolute;

    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(70%);
    width: 1024px;
    height: 471px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    z-index: 4;


}

.ml-fon-rotate-h {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -0.8px;
    margin-left: 64px;

}

.ml-paragrapf-list {

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.4px;
    margin-bottom: 39px;

}

.ml-paragrapf-items {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 70px;

    & p {
        width: 570px;
    }
}

.mlsvg {
    background-color: #4DC274;
    border-radius: 50%;
    width: 28px;
    height: 28px;

}

.ml-button {
    display: inline-flex;
    padding: 16px 64px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #4DC274;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 155.556%;
    margin-left: 64px;

}

.ml-books {
    position: absolute;
    top: 128px;
    right: 0px;
    background-image: url(../img/books.png);
    max-width: 216px;
    max-height: 263px;
    width: 100%;
    height: 100%;
    z-index: 8;
}