.students-title {
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.students-title-head {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.8px;
    margin-bottom: 16px;

    @media screen and (max-width: 767px) {
        font-size: 32px;
        width: 332px;
    }
}

.students-title-paragraf {
    color: rgba(18, 20, 23, 0.50);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.667%;
    width: 647px;

    @media screen and (max-width: 767px) {
        width: 332px;
        font-size: 14px;
    }
}

.students-block {
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.students-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 326px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F3F5F6;
}

.card-mykhailo {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }

}

.card-victoria {
    display: none;

    @media screen and (min-width: 1280px) {
        display: flex;
    }
}

.students-card-fon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 288px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #4DC274;
    margin-top: 32px;
}

.students-card-anna {
    background-image: url(../img/students/anna.jpg);
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.students-card-mykhailo {
    background-image: url(../img/students/mykhailo.jpg);
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.students-card-victoria {
    background-image: url(../img/students/viktoria.jpg);
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.students-card-name {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.4px;
    padding-left: 74PX;
}

.students-card-students {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.333%;
    padding-left: 74PX;
}

.students-card-paragraf {
    color: rgba(18, 20, 23, 0.50);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 32px 32px 0px 32px;
}